*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body,html{
  background-color: #f1cf0b;
}

header{
  background-color: #000000;
  padding: 20px;
  text-align: center;
  color: #FFF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 5px #a88e8e;
}

div#border{
  background-color: #000000;
  padding: 20px;
  margin: auto;
  height: 300px;
  width: 500px;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #000000;
}

div#button{
  background-color: #FFF;
  padding: 10px;
  margin: auto;
  height: 200px;
  width: 300px;
  margin-top: 30px;
  border-radius: 10px;
}

a > h3{
 margin-top:50px ;
 text-align: center;
 padding: 30px;
 background-color: #dcdcdc;
 border-radius: 10px;
 border: 1px solid #dcdcdc;
 cursor: pointer;
}

a{
  text-decoration: none;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a > h3:hover{
  border-radius: 15px;
  background-color:#5f9ea0;
  border: 1px solid #5f9ea0;
  transition: 0.5s;
  color: aliceblue;
  font-weight: bold;
}



